*{
  background-color: #FFFFE0;
}

/*#Heading{
  font-family: Arial, Verdana, sans-serif;
  position: relative;
  text-align: center;
}*/

h1{
  font-family: Arial, Verdana, sans-serif;
  position: relative;
  text-align: center;
}

p{
  width: 48%;
  margin: 5px;
  margin-top: 20px;
  float: left;
  padding: 10px 0px 5px 0px;
  background-color: #EFEFEF;
  text-align: left;
}

.Strings{
  height: 50px;
}

.Integers{
  height: 50px;
}

.Arrays{
  height: 100px;
}

.Hashes{
  height: 100px;
}