*{
  background-color: #FFFFE0;
  text-align: center;
}

#Heading{
  font-family: Arial, Verdana, sans-serif;
  position: relative;
}

p{
  width: 400px;
  margin: 5px;
  margin-top: 20px;
  float: left;
  padding: 10px 0px 5px 0px;
  background-color: #EFEFEF;
}

.Strings{
  height: 50px;
}

.Integers{
  height: 50px;
}

.Arrays{
  height: 100px;
}

.Hashes{
  height: 100px;
}