html{
  background-color:white;
}
main {
  border: 10px solid navy;
  margin: 8% 15%;
}
.Heading {
  text-align: center;
  position: static;
  display: block;
  padding: 0;
  width: 60%;
  margin: 0 20%;
  background-color: #A3E8E8;
  font-family: sans-serif, helvetica, lucida;
  font-style: italic;
}
h1{
  color: #6EB5E0;
  font-size: 44px;
  padding-top: 10px;
  margin-bottom: 0%;
}
h2{
  color:#4880E0;
}
h4{
  padding-bottom: 10px;
  font-family: helvetica cursive;
}

.Text {
  font-family: Helvetica;
  font-size: 1.1em;
  padding: 2px 20px;
}

