html{
  background-color: #A3E8E8;
  font-family: helvetica;
  font-style: italic;
}
main{
  border: 10px solid navy;
  margin: 8% 15%;
  text-align: center;
  background-color: white;
}
.headerlinks {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 75px;
  padding-right: 10px;
  text-decoration: none;
}
a {
  color: navy;
}