html{
  background-color:white;
}
main {
  border: 10px solid navy;
  margin: 8% 15%;
}
.BlogList {
  position: absolute;
  font-style: italic;
  font-family: sans-serif, helvetica, lucida;
}
.Heading {
  text-align: center;
  display: block;
  padding: 5%;
  margin: auto;
  background-color: #A3E8E8;
  font-family: sans-serif, helvetica, lucida;
  font-style: italic;
  color: navy;
}
h1{
  font-size: 44px;
  margin: 0%;
}
h2{
  margin: 5px;
}
h4{
  font-family: helvetica cursive;
  color: #6EB5E0;
  margin: 0;
}
.Text {
  font-family: helvetica cursive;
  font-style: italic;
  font-size: 1.2em;
  padding: 2px 25px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.code {
  background: gray;
  font-family: helvetica;
  font-size: 1em;
  padding: 15px;
}

