html {
  background-color: #A3E8E8;
  font-family: helvetica;
  font-style: italic;
  color: navy;
}
main {
  border: 10px solid navy;
  margin: 8% 15%;
  text-align: center;
  background-color: white;
}
#Title {
  text-decoration: underline;
}
.headerlinks {
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.crossline {
  border: 0;
  width: 100%;
  right: 0;
  display: block;
  height: 10px;
}
p {
  line-height: .75;
}
a {
  text-decoration: none;
  color: navy;
}