html{
  background-color: #A3E8E8;
  font-family: helvetica;
  font-style: italic;
}
img {
  position: fixed;
}
#header{
  display: inline-block;
}
h1 {
  position: absolute;
/*  margin-left: 10%;*/
  width: 90%;
  height: 50px;
}
h2 {
  position: absolute;
/*  margin-left: 10%;*/
  width: 90%;
  padding-top: 50px;
}
.headerlinks {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 75px;
}
a {
  text-decoration: none;
  color: navy;
}
.crossline{
  border: 0;
  width: 100%;
  right: 0;
  display: block;
}
#backdrop{
  margin-top: 10px;
  height: 20em;
  background-color: teal;
}
#topline{
  margin-top: 95px;
  height: 1px;
  background-color: navy;
}
#bottomline{
  height: 1px;
  background-color: navy;
}
.footerlinks {
  position: absolute;
  right: 0;
  margin-top: 50%;
}