html{
  background-color: white;
  font-family: helvetica;
  font-style: italic;
}
img {
  position: absolute;
}
#header{
  display: inline-block;
}
h1 {
  position: absolute;
  width: 90%;
  height: 50px;
}
h2 {
  position: absolute;
  width: 90%;
  padding-top: 50px;
}
h3 {
  position: absolute;
  width: 40%;
  padding-top: 100px;
}
.headerlinks {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 75px;
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: navy;
}
.crossline{
  border: 0;
  width: 100%;
  right: 0;
  display: block;
}
#backdrop{
  margin-top: 10px;
  height: 20em;
}
#topline{
  margin-top: 95px;
  height: 1px;
  background-color: navy;
}
#bottomline{
  margin-top: 10px;
  height: 1px;
  background-color: navy;
}
.footerlinks {
  position: absolute;
  right: 0;
  padding-right: 10px;
  margin-top: 8px;
}