.mama {
  background: url('../images/iris.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: url('../images/katy-face.png.png'), default;
}

.mama .mama-text {
  font-family: cursive;
  padding-top: 50px;
  text-align: center;
}

.mama .mama-text h1 {
  font-size: 50px;
}

.mama .mama-text p {
  font-size: 25px;
}