.mama {
  background-image: url('../images/iris.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mama .mama-text {
  font-family: cursive;
  padding-top: 50px;
  text-align: center;
}

.mama .mama-text h1 {
  font-size: 50px;
}

.mama .mama-text p {
  font-size: 25px;
}

body {
  cursor: url('../images/katy-face.png.png'), default;
}