.mel {
  background-color: rgba(33, 50, 255, 0.38);
  background-image: url('../mel/blooming.gif');
  background-repeat: no-repeat;
  height: 3000px;
  background-size: 60%;
}

.mel .mel-text {
  font-family: cursive;
  padding-top: 50px;
  margin-left: 5%;
  float: right;
  width: 35%;
}

.mel .mel-text h1 {
  font-size: 50px;
  margin-top: 0;
}

.mel .mel-text p {
  font-size: 25px;
  float: right;
  padding-right: 20%;
  margin-top: 0;
}

.message {
  padding-left: 6%;
  text-align: center;
}

.signature span{
  /*padding-left: 15%;*/
}

.orchids {
  clear: both;
  background-image: url('../mel/orchid.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}