.mel {
  background-color: #FFD821;
  background-image: url('blooming.mp4');
  background-repeat: no-repeat;
  height: 3000px;
  cursor: url('../images/maya-face.png'), default;
}

.mel .mel-text {
  font-family: cursive;
  padding-top: 50px;
  padding-right: 80px;
  float: right;
  text-align: center;
  padding-right: 80px;
}

.mel .mel-text h1 {
  font-size: 50px;
}

.mel .mel-text p {
  font-size: 25px;
}