.paula {
  background-color: #FFD821;
  background-image: url('../images/large-yellow-sunflower-close-up-animated-gif.gif');
  background-repeat: no-repeat;
  height: 3000px
}

.paula .paula-text {
  font-family: cursive;
  padding-top: 50px;
  padding-right: 80px;
  float: right;
  text-align: center;
  padding-right: 80px;
}

.paula .paula-text h1 {
  font-size: 50px;
}

.paula .paula-text p {
  font-size: 25px;
}